img {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: #1a0c61;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%
}

body {
  background-color: #white;
  font-family: 'Dosis', sans-serif;
  color: black;
}

footer {
  text-align: center;
  background-color: #1a0c61;
  color: white;
  padding: 10px 0;
  position: relative;
  width: 100%
}

h1 {
  font-variant: small-caps;
}

h2 {
  font-variant: small-caps;
  padding-top: 10px 0;
}

a {
  color: #e8c253;
  text-decoration: none;
  /* No underlining */
  padding: 10px 10px;
}

a:visited {
  /* visited link */
  color: #e8c253;

  * {
    box-sizing: border-box;
  }
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e8c253;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #e8c253;
  /* width of the border, type, color */
  transition: 0.2s;
  opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff
}

.button:active {
  /* selected link */
  color: #ffffff
}

.button:visited {
  /* selected link */
  color: #000000
}

.button.contact {
  background-color: transparent;
  color: #e8c253;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #e8c253;
}

.button.contact:hover {
  background-color: #e8c253;
  color: #000000;
}

.button.contact:active {
  background-color: #e8c253;
  color: #000000;
}

a.resume {
  margin: 0 auto background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #e8c253;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  border: 2px solid #1a0c61;
}

a.resume:hover {
  background-color: #e8c253;
  color: #000000;
  text-decoration: none;
}

a.resume:active {
  background-color: #1a0c61;
  color: #000000;
}

/* Layout styling */
.container {
  max-width: 1200px;
  padding: 0 15px;
  padding-bottom: 25px;
  margin: 0 auto
}

#contact {
  background-color: #1a0c61 padding: 20px 0;
}

.row {
  margin: 0 auto;
  /* 25px top and bottom, 0 left and right */
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero h2 {
  text-align: center;
  /* Centers text */
}

#hero p {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

#about-page h3 {
  margin-top: 0;
}

#about-page ul>li {
  list-style-type: none;
}

#about-page p {
  padding: 25px
}

#about-page h1 {
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 250px;
  margin: 15px
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 30px 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
}

#hero {
  background-color: #white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#about {
  background-color: #white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.social {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    text-align: center;
  }
}

.col-lg-7 {
  width: 58.33%;
}

[class*="col-"] {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
  ANIMATION
  ================================= */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(400px, 48px);
  }

  to {
    transform: translate(360px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
