img {
  width: 100%;
}

body {
  background-color: #1a0c61;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  font-variant: small-caps;
}

h2 {
  font-variant: small-caps;
}

a {
  color: #e8c253;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff;
}

a:hover,
a:focus {
  color: #e8b253;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #e8c253;
}

.button {
display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
background-color: #e8c253;
color: #000000; /* needed to override the default link color */
font-weight: 400;
padding: 10px;
border-radius: 3px;
border-bottom: 2px solid #e8c253; /* width of the border, type, color */
transition: 0.2s opacity;
}

.button:hover {

  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff
}

.button:active {
  /* selected link */
  color: #ffffff
}
.button:visited {
  /* selected link */
  color: #000000
}

.button.contact {
  background-color: transparent;
  color: #e8c253;
  text-transform: uppercase;
  border: 2px solid #e8c253;
}
.button.contact:hover {
  background-color: #e8c253;
  color: #000000;
}
.button.contact:active {
  background-color: #e8c253;
  color: #000000;
  .button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #e8c253;
    color: #000000;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    /* width of the border, type, color */
    transition: 0.2s opacity;
  }
